<!DOCTYPE html>
<html>
<head>
    <title>Flask TensorFlow Image Prediction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <div class="container">
        <h1>Flask TensorFlow Image Prediction</h1>
        <form id="upload-form" action="{{ url_for('predict') }}" method="POST" enctype="multipart/form-data">
            <input type="file" name="file" id="file-input" accept="image/*">
            <button type="submit" class="btn">Predict</button>
        </form>
        <div id="result-container" class="hidden">
            <h2>Result:</h2>
            <p id="predicted-class"></p>
            <p id="score"></p>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>